* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.v-application p {
    margin-bottom: 0;
    /* Ghi đè giá trị margin-bottom thành 0 */
}

.v-text-field > .v-input__control > .v-input__slot:after,.v-text-field > .v-input__control > .v-input__slot:before{
    border: none;
    background: none;   
}
